* {
  box-sizing: border-box;
}

body {
  background-color: #17181f;
  color: #ddd;
}
main {
  max-width: 360px;
  margin: 40px auto;
}
h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
}
h1 span {
  font-size: 1.4rem;
  vertical-align: top;
  display: inline-block;
  margin-top: 5px;
  margin-left: 2px;
}
form {
  margin-top: 20px;
}
form input {
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}
form input[type='datetime-local'] {
  color: #777;
}
form div.basic {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
form button {
  margin-top: 5px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ddd;
}
div.transactions {
  margin-top: 13px;
}
div.transaction {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  border-top: 1px solid #30313d;
}
div.transaction:first-child {
  border-top: 0;
}
div.transaction div.name {
  font-size: 1rem;
}
div.transaction div.description {
  font-size: 0.8rem;
  color: #888;
}
div.right {
  text-align: right;
}
div.price.green {
  color: rgb(39, 255, 39);
}
div.price.red {
  color: red;
}
div.transaction div.datetime {
  font-size: 0.7rem;
  color: #888;
}
div.right div.delete {
  margin-top: 2px;
}
div.right div.delete button {
  cursor: pointer;
  color: red;
  background: transparent;
  border: 1px solid red;
  border-radius: 3px;
  padding: 2px 6px;
  font-size: 0.7rem;
}
div.right div.delete button:hover {
  background-color: red;
  color: white;
}
